name: Build package
on:
  push:
    # tags:
    # - "v[0-9]+.[0-9]+.[0-9]+*"
    branches:
      - "main"
      # - "**"
  pull_request:
    branches:
      - "main"
env:
  PUB_ENVIRONMENT: bot.github
  LIBGIT2_VERSION: "1.9.1"
  LIBSSH2_VERSION: "1.11.1"
  OPENSSL_VERSION: "3.0.15"


jobs:
  generate_bindings:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build Linux artifacts
        uses: ./.github/actions/generate-bindings
        with:
          libgit2_version: ${{ env.LIBGIT2_VERSION }}

  build_libgit2_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build Linux artifacts
        uses: ./.github/actions/build-linux
        with:
          libgit2_version: ${{ env.LIBGIT2_VERSION }}
          libssh2_version: ${{ env.LIBSSH2_VERSION }}

  build_libgit2_macos:
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build macOS artifacts
        uses: ./.github/actions/build-macos
        with:
          libgit2_version: ${{ env.LIBGIT2_VERSION }}
          libssh2_version: ${{ env.LIBSSH2_VERSION }}

  build_libgit2_windows:
    runs-on: windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build Windows artifacts
        uses: ./.github/actions/build-windows
        with:
          libgit2_version: ${{ env.LIBGIT2_VERSION }}
          libssh2_version: ${{ env.LIBSSH2_VERSION }}

  build_libgit2_android:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [arm64-v8a, x86_64]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        
      - name: Build Android artifacts
        uses: ./.github/actions/build-android
        with:
          architecture: ${{ matrix.os }}
          libgit2_version: ${{ env.LIBGIT2_VERSION }}
          libssh2_version: ${{ env.LIBSSH2_VERSION }}
          openssl_version: ${{ env.OPENSSL_VERSION }}

  run_tests:
    needs: [generate_bindings, build_libgit2_linux, build_libgit2_macos, build_libgit2_windows, build_libgit2_android]
   # needs: [generate_bindings, build_libgit2_android]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: download bindings
        uses: actions/download-artifact@v4
        with:
          path: ./lib/src/
          name: cache-bindings

      - name: download linux deps
        uses: actions/download-artifact@v4
        if: ${{ runner.os == 'Linux' }}
        with:
          path: ./linux
          name: cache-linux
      - name: Install linux dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
            sudo DEBIAN_FRONTEND=noninteractive apt-get update -o Acquire::Retries=3 && sudo DEBIAN_FRONTEND=noninteractive apt-get install  -o Acquire::Retries=3 -y --no-install-recommends openssl
         
      # - name: Install macos dependencies
      #   if: ${{ runner.os == 'macOS' }}
      #   run: |
      #     brew install openssl
      - name: download macos deps
        uses: actions/download-artifact@v4
        if: ${{ runner.os == 'macOS' }}
        with:
          path: ./macos
          name: cache-macos
      
      - name: Install windows dependencies
        if: ${{ runner.os == 'Windows' }}
        run: |
          choco install openssl -y

      - name: download windows deps
        uses: actions/download-artifact@v4
        if: ${{ runner.os == 'Windows' }}
        with:
          path: ./windows
          name: cache-windows
     
      - name: Run ffigen
        uses: subosito/flutter-action@v2
      - run:  flutter pub get
      - run:  flutter test -r expanded

  publish_package:
    if: ${{ github.actor != 'nektos/act' }}
    needs: [run_tests]
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: download bindings
        uses: actions/download-artifact@v4
        with:
          path: ./lib/src/
          name: cache-bindings
          
      - name: download macos binaries
        uses: actions/download-artifact@v4
        with:
          path: ./macos
          name: cache-macos

      - name: download windows binaries
        uses: actions/download-artifact@v4
        with:
          path: ./windows
          name: cache-windows

      - name: download linux binaries
        uses: actions/download-artifact@v4
        with:
          path: ./linux
          name: cache-linux

      - name: download android binaries x86_64
        uses: actions/download-artifact@v4
        with:
          path: ./android/src/main/jniLibs/x86_64
          name: cache-android-x86_64

      - name: download android binaries arm64-v8a
        uses: actions/download-artifact@v4
        with:
          path: ./android/src/main/jniLibs/arm64-v8a
          name: cache-android-arm64-v8a

      - name: Zip package into cache
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/upload-artifact@v4
        with:
          name: release-package
          path: .

      - name: Publish package
        if: ${{ github.event_name != 'pull_request' }}
        uses: k-paxian/dart-package-publisher@master
        with:
          accessToken: ${{ secrets.PUB_DEV_PUBLISH_ACCESS_TOKEN }}
          refreshToken: ${{ secrets.PUB_DEV_PUBLISH_REFRESH_TOKEN }}
          skipTests: true
